<html lang="en">

<head>
    <%- include('navbar') %>
</head>
    
    <body style="background-color: rgb(103, 204, 235)">
		<form
			class="w-50 mx-auto mt-5"
			action="/create-student"
			method="post"
			style="
				height: 100%;
				display: grid;
				place-content: center;
				background: white;
				border-radius: 5px;
				box-shadow: 7px 7px 12px rgba(0, 0, 0, 0.05);
				padding: 50px 70px;
			"
		>
			<h3 style="text-align: center;font-weight: bold;">Add Student</h3>
			<fieldset>
				<label for="batch">Batch</label>
				<div class="mb-3">
					<input type="text" class="form-control" id="batch" name="batch" required/>
				</div>
			</fieldset>

			<fieldset>
				<div class="mb-3">
					<label for="name" class="form-label">Name</label>
					<input type="text" class="form-control" id="name" name="name" required/>
				</div>
				<div class="mb-3">
					<label for="email" class="form-label">Email address</label>
					<input type="email" class="form-control" id="email" placeholder="abc@gmail.com" name="email" required/>
				</div>
				<div class="mb-3">
					<label for="contactNumber" class="form-label">Mobile Number</label>
					<input type="text" class="form-control" id="phone_no" name="phone_no" required/>
				</div>
				<div class="mb-3">
					<label for="college" class="form-label">College Name</label>
					<input type="text" class="form-control" id="college" name="college" required/>
				</div>
				<div class="mb-3">
					<label for="placement" class="form-label">Placement Status</label>
					<select class="form-select" aria-label="Default select example" name="placement_status" id="placement_status">
						<option value="Not Placed">Not Placed</option>
                        <option value="Placed">Placed</option>
					</select>
				</div>
			</fieldset>

			<fieldset>
				<div class="mb-3" style="display: flex; justify-content: space-between">
					<div class="mb-3 p-1">
						<label for="dsa" class="form-label">DSA</label>
						<input type="text" class="form-control" id="dsa" name="dsa" required/>
					</div>
					<div class="mb-3 p-1">
						<label for="webd" class="form-label">Web Development</label>
						<input type="text" class="form-control" id="webD" name="webD" required/>
					</div>
					<div class="mb-3 p-1">
						<label for="react" class="form-label">React</label>
						<input type="text" class="form-control" id="react" name="react" required/>
					</div>
				</div>
			</fieldset>
			<button type="submit" class="btn btn-primary align-self-center">Create Student</button>
		</form>
</body>

</html>