<header>
    <%- include('bootstrap_meta')%>
	<% if (locals.user) { %>
    <nav class="navbar navbar-expand-lg navbar-light bg-secondary">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#"><b>Placement Cell</b></a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/home"><b>List Of Students</b></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/company/interviewslist"><b>List of Interviews </b></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/download-csv-report"><b>Download Report</b></a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <a class="navbar-brand" href="/">Welcome <%=locals.user.name%></a>
            <button class="btn btn-danger my-2 my-sm-0" type="submit">SignOut</button>
          </form>
        </div>
      </nav>
	<% } %>
</header>
<body><%- include('bootstrap_js')%></body>